body {
    padding: 32px;
    font-family: "DM Mono";
    font-size: 16px;
}

body::selection {
    background-color: #000;
    color: #FFF;
}

#icons {
    width: 80vw;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

#icon {
    display: flex;
    margin: 8px;
    width: 64px;
    height: 64px;
    border: solid 1px black;
    background-color: blue;
    padding: 16px;
    justify-items: center;
    align-items: center;
}